doctype html
html
    head
        title="Header Parser microservice"
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    body
        h1 Header Parser microservice 
        h3 (Freecodecamp API challenge)
        br
        h4 This is a simple API informing you about your IP address, operating system, and its current language.
        br
        p
          b Usage:
        p Go to 
          code "https://sheltered-citadel-24469.herokuapp.com/api/whoami".
